{% extends "base.html" %}
{% block title %}image1
{% endblock title %}


{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock css %}



{% block body %}

<div id="carouselExampleCaptions" class="carousel slide my-1" data-bs-ride="carousel">
  <div class="carousel-indicators my-3">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
     <img src="/static/img/main4.jpg" class="d-block w-100" alt="main2" height=600px width=380px>

      <div class="carousel-caption d-none d-md-block">
        <h5>Namaskar Welcome to our online shoe Shop</h5>
        <p>Here You can Buy and sell Shoe remotely</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/static/img/main2.jpg" class="d-block w-100" alt="main2" height=600px width=380px>
      <div class="carousel-caption d-none d-md-block">
        <h5>Namaskar Welcome to our online shoe Shop</h5>
        <p>Here You can Buy and sell Shoe remotely</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/static/img/main5.jpg" class="d-block w-100" alt="main3" height=600px width=380px>
      <div class="carousel-caption d-none d-md-block">
        <h5>TNamaskar Welcome to our online shoe Shop</h5>
        <p>Here You can Buy and sell Shoe remotely</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



<div class="col my-4">
  <div class="card product-card shadow-sm text-center">
    <div class="img-container">
      <a href="image1.html">
        <img src="{% static 'img/ola.jpg' %}" class="card-img-top product-img" alt="Shoe 1">
      </a>
    </div>
    <div class="card-body">
      <h5 class="product-title">Stylish Shoe</h5>
      <p class='product-title'>Enter Shoe Description Here !</P>
      <p class="product-price">
        <span class="original-price">Rs. 6500</span>
        <span class="discounted-price">Rs. 5000</span>
      </p>
      <div class="btn-group  justify-content-center gap-2">
        <a href ='buynow.html>'<button class="btn btn-buy">Buy Now</button><a>
        <button class="btn btn-cart">Add to Cart</button>
      </div>
    </div>
  </div>
</div>



{% endblock body %}




{% block footer %}
{% endblock footer %}