 {% block nav %}
  <section>
            <nav>
                
                <ul class='nav-link'>
                    
                
                    <li><a href='/'>Home</a>
                
                
                    <li><a href="{% url "service" %}">Service</a>
                
                
                    <li><a href="{% url "aboutus" %}">Aboutus</a>
                
                
                    <li><a href="{% url "userform" %}">Login</a>
                </ul>
            </div>
            </nav>
        </section>{% endblock %}
