{% extends "layout.html" %}


{% block title %}
Home Page{% endblock %}

{% block content %}
<h1 class='bg-blue-500 text-3xl'>Hello Welcome to the Home Page</h1>
 <section>
            <nav>
                
                <ul class='nav-link'>
                    
                
                    <li><a href='/'>Home</a>
                
                
                    <li><a href='service/'>Service</a>
                
                
                    <li><a href='#'>Aboutus</a>
                
                
                    <li><a href='#'>Login</a>
                </ul>
            </div>
            </nav>
        </section>
{% endblock %}